<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background-color: #F4F7EE  ">
    <div class=one><h1>Restaurant homework</h1></div>
<div><nav><a href="{{ url_for('menu') }}">Menu</a></nav></div>
<div><a href="{{ url_for('storage')}}">Storage</a> </div>
<div><a href="{{ url_for('customer')}}">Customers</a> </div>
<div><a href="{{ url_for('employee')}}">Employees</a> </div>
<div><a href="{{ url_for('payment')}}">Payments</a> </div>
</body>
</html>
